@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

header nav {
  #spa-links {
    a {
      font-weight: 700;
      text-decoration: none;
      color: white;
      font-family: "Quicksand", sans-serif;
    }
  }
}