footer {
  position: relative;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
  padding: 20px 0;
  z-index: 0;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;


  #app-logos {
    img {
      width: 25px;
      display: inline-block;
      justify-content: space-between;
    }
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}