footer {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
  padding: 20px 0;
  z-index: 0;

  main {
    margin-left: 75px;
  }

  #spa-links {
    a {
      padding-right: 10px;
    }
  }

  #app-logos {
    img {
      margin-left: 2px;
      width: 25px;
    }
  }

}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}