header {
  position: fixed;
  top: 0;

  background-color: rgb(255, 72, 72);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  .header-links {
    text-decoration: none;
    color: white;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

#logo {

  padding-top: 20px;
  padding-left: 50px;
  width: 400px;
}