body {
  margin: 0;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: rgb(255, 72, 72);
  margin: 0;
  border: 0;
  padding: 20px;
  padding-top: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

header nav {
  margin-right: 50px;
  justify-content: center;

  #app-logos {
    img {
      width: 25px;
      margin: 2px;
    }

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  /* Header links */
  #spa-links {
    a {
      padding: 0 12px;
    }
  }
}


header .header-links:first-child {
  padding-left: 0;
}

header .header-links:last-child {
  padding-right: 0;
}

/* Logo */
header #logo {
  padding-top: 20px;
  padding-left: 10px;
  margin-left: 50px;
  max-width: 300px;
  width: auto;
  height: auto;
}