main article {
  scroll-margin-top: 200px;
  display: none;

  &:first-of-type:not(:has(~ :target)),
  &:target {
    display: block;
  }
}

body {

  nav a:hover,
  &:not(:has(article:target)) nav a:nth-of-type(1),
  &:has(article:nth-of-type(1):target) nav a:nth-of-type(1),
  &:has(article:nth-of-type(2):target) nav a:nth-of-type(2),
  &:has(article:nth-of-type(3):target) nav a:nth-of-type(3),
  &:has(article:nth-of-type(4):target) nav a:nth-of-type(4),
  &:has(article:nth-of-type(5):target) nav a:nth-of-type(5) {
    color: black;
  }
}